* {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  list-style: none;
}

/* Undisplay scroll bar */
body::-webkit-scrollbar { display:none; }
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div, a, button {
  color: rgb(21, 21, 21);
  font-family: HelveticaNeue, arial;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
