* {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: HelveticaNeue, arial;
}

ul {
  list-style: none;
}

/* Undisplay scroll bar */
body::-webkit-scrollbar { display:none; }
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
